/*ESTILO DE LOS POPUP*/
.popup {
    position: fixed;
    inset: 0;
    z-index: 0;
}
/*evita que se toque lo de atras(capa)*/
.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
/*centrar el popupcontenido*/
.popup-contenido {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    z-index: 2;
}

/*BARRA DE NAVEGACION*/
.BarraNav{
    position: sticky;
    top: 0;
    background-color: aquamarine;
    width: 100%;
    height: 65px;
    padding-top: 25px;
    padding-bottom: 1px;
    display: flex;
}
/*textos*/
h1, h2, h3, p {
    margin-left: 20px;
    margin-right: 20px;
}
/*boton avanzado*/
.btAv{
    margin-left: 1000px;
}
/*boton de*/
.btBR{
    margin-left: 10px;
}

/*saco margenes del html*/
body {
    margin: 0;
}

/*configuracion foto de perfil*/
#ImgP{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
#ImgPEActual{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/*ESTILO DE TODOS LO BOTONES*/
button{
    background-color: aquamarine;
    border: 1px solid black;
    font-family:"PoppinsL";
    border-radius: 20px;
    padding: 8px 15px;
}

/*FUENTES*/
/*titulos*/
@font-face {
    font-family: "Bebas";
    src: url("../../assets/fuentes/titulos/BebasNeue-Regular.ttf");
}
h1 {
    font-family: "Bebas";
    font-size: 40px;
}
/*subtitulos*/
@font-face {
    font-family: "PoppinsB";
    src: url("../../assets/fuentes/subtitulos/Poppins-Black.ttf");
}
h2{
    font-family: "PoppinsB";
    font-size: 30px;
}
@font-face {
    font-family: "PoppinsI";
    src: url("../../assets/fuentes/texto/Poppins-Italic.ttf");
}
h3{
    font-family: "PoppinsI";
    font-size: 25px;
}
/*texto*/
@font-face {
    font-family: "PoppinsL";
    src: url("../../assets/fuentes/texto/Poppins-Light.ttf");
}
p{
    font-family:"PoppinsL";
    font-size: 20px;
}

/*TABLAS*/
td{
    padding: 10px;
    font-family: "PoppinsL";
}
label{
    font-family: "PoppinsL";
}
table, td, th {
  border: 1px solid;
}
table{
    margin-left: 30px;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
}
/* BOTONES DENTRO DE LAS TABLAS */

#TI button,
#TG button,
#TO button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: aquamarine;
    padding: 8px 15px;
}

/* Celda de Editar y Borrar */
#TI td:last-child,
#TG td:last-child,
#TO td:last-child {
    padding: 0;
    background-color: aquamarine;
}

/* Celda del botón + */
#FIB td,
#FGB td,
#FBO {
    padding: 0;
    background-color: aquamarine;
}
/* FONDO DE LOS DATOS DE LA TABLA */

#TI td,
#TG td,
#TO td {
    background-color: aquamarine;
}
